<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="co.openbike.cycletracks"
      android:versionCode="8" android:versionName="1.03">
<application android:label="@string/app_name" android:debuggable="false" android:icon="@drawable/icon72">
        <activity android:label="@string/app_name" android:name="co.openbike.cycletracks.MainInput" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:label="@string/recording_title" android:name="RecordingActivity" android:finishOnTaskLaunch="true" android:launchMode="singleInstance"></activity>

<activity android:name="SaveTrip" android:finishOnTaskLaunch="true" android:launchMode="singleInstance"></activity>

<activity android:name="co.openbike.cycletracks.ShowMap" android:finishOnTaskLaunch="true" android:launchMode="singleTop"></activity>
<activity android:name="UserInfoActivity" android:finishOnTaskLaunch="true" android:launchMode="singleInstance"></activity>
<service android:name="RecordingService" android:enabled="true" android:exported="true"></service><uses-library android:name="com.google.android.maps"></uses-library>
<meta-data
    android:name="com.google.android.maps.v2.API_KEY"
    android:value="AIzaSyAEZ11Ihf7r5LIq7KCQmVZvj1PwAUc2T18"/>
</application>

<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10"/>
 

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<!--  additions for G maps v2 -->
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
<!-- The following two permissions are not required to use
     Google Maps Android API v2, but are recommended. -->
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


<supports-screens android:normalScreens="true" android:anyDensity="true"/>
<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
</manifest>
